/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    
  }
  
  .auth-buttons .sign-up {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
  }
  